:root {
    --textfield-width: 15.8rem;
    --card-width: auto;
}

.main-container h6 {
    margin-top: 12vh;
}

.main-container {
    height: 100vh;
}

.main-content {
    height: auto;
}

.profile-pic {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.profile-pic:hover img {
    filter: brightness(50%);
}

.profile-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.profile-pic:hover .profile-overlay {
    opacity: 1;
}

input[type="file"] {
    border: none;
    outline: none;
    font-size: inherit;
    color: inherit;
    background: transparent;
    cursor: pointer;
    opacity: 0;
}

.profile-overlay .text {
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    transition: opacity 0.5s ease;
    opacity: 0;
    margin-top: 1.5rem;
}

.profile-pic:hover .text {
    opacity: 1;
}

.margin-1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.margin-2 {
    margin-top: 2rem;
}

.margin-3 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.card-padding {
    padding: 3rem;
}