@media (max-width: 1186px) {
    .navbar-logo {
        display: initial !important;
    }

    .room-item {
        flex-direction: column !important;
    }

    .room-item-image {
        display: none;
    }

    .img-mobile {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        display: initial !important;
        padding: 0 0 !important;
        overflow: hidden;
    }

    .room-card {
        height: 25rem;
    }

    .room-card>div {
        padding: 0;
        overflow: hidden;
    }

    .room-item {
        width: 55%;
    }

    .room-item-content {
        margin: 0;
        overflow: hidden;
    }

    .room-item-content>* {
        padding: 0 2rem;
    }

    .book-button {
        margin: 5% 0;
    }

    .room-info-image {
        height: 13rem;
        width: 18rem;
        margin: 0 1rem;
    }

    .room-main-info {
        width: 100%;
        justify-content: center !important;
    }

    .gallery-item {
        height: 14rem;
        width: 85vw;
        margin: 1rem 0;
    }

    .gallery-container {
        flex-direction: column;
        margin: 0 0 6rem 0 !important;
    }

    .reviews-container {
        flex-direction: column;
        margin: 0 0 3rem 0 !important;
    }

    .reviews-item {
        margin: 1.5rem 0;
    }

    .filters-container {
        flex-wrap: wrap;
        margin-top: 1rem;
        justify-content: center;
    }

    .room-category-filter {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
}

@media (max-width: 1682px) {
    .left-arrow img {
        margin: auto;
    }

    .right-arrow img {
        margin: auto;
    }
}