.header {
    margin-top: 8vh;
    z-index: -1;
}

.background {
    height: 25rem;
    width: 100%;
    position: relative;
    background-image: url("../res/images/image-placeholder.svg");
    background-size: cover;
    background-position: center;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, var(--md-sys-color-primary) 100%);
}

.welcome {
    color: var(--md-sys-color-on-primary);
    opacity: 0.8;
    position: absolute;
    bottom: 30px;
    margin: 0;
    margin-left: 15%;
}

.header {
    display: flex;
    position: relative;
    margin-bottom: 50px;
    width: 100%;
}

.dp-con {
    border: 1px solid black;
    padding: 8px 12px;
    padding-top: 10px;
    border-radius: 50px;
}

.profile img {
    height: 40px;
}

.status-con,
.info-con {
    margin-left: 330px;
    margin-bottom: 40px;
}

.info-con {
    margin-bottom: 8%;
}

.info-main,
.promo-con {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.info-con-header {
    color: var(--md-sys-color-on-surface);
    font-weight: 300;
    font-size: 18px;
}

.info-main-con p {
    margin: 0;
    line-height: 25px;
}

.info-main-con {
    width: 70%;
    border: 1px solid var(--md-sys-color-primary-container);
}

.barcode {
    height: 40px;
    width: 300px;
    object-fit: cover;
}

.promo-con {
    position: relative;
    background-color: var(--md-sys-color-secondary-container);
    padding-left: 20px;
    border-radius: 2px;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    height: 18rem;
}

.promo-header {
    font-size: 22px;
    margin: 0;
    margin-top: 20px;
    color: rgb(41, 64, 88);
}

.promo-overview {
    width: 85%;
}

.book-con {
    height: 100%;
    margin-bottom: -3px;
}

.book-con img {
    height: 100%;
}

.book-con button {
    position: absolute;
    bottom: 10px;
    right: 14px;
    cursor: pointer;
}

.promo-con p {
    line-height: 30px;
    font-weight: 300;
}

@media (max-width: 1186px) {
    .background {
        height: 21rem;
    }

    .header .logo {
        height: 350px;
    }

    .status-con, .info-con {
        margin: 0 auto;
    }

    .info-con {
        margin-bottom: 15%;
    }

    .info-con-header {
        margin-left: 11%;
    }

    .info-main-con {
        width: calc(100vw - 2rem);
    }

    .welcome {
        margin-left: 5%;
    }

    .navbar-logo {
        display: initial !important;
    }
}