/* Customizable CSS Variables */
:root {
    --elevation: 0.063rem; /* Card elevation */
    --card-border-radius: 0px; /* Card border radius */
    --card-width: 19rem; /* Card width */
    --card-height: 13rem; /* Card height */
    --card-surface: rgb(var(--md-sys-color-primary-rgb) / 0.05);
}

/* Card Container */
.card {
    box-shadow: 0 0 0 var(--elevation, 0.063rem) rgba(0, 0, 0, 0.14),
                0 0 var(--elevation, 0.188rem) rgba(0, 0, 0, 0.12),
                0 var(--elevation, 0.188rem) 0 rgba(0, 0, 0, 0.2);
    border-radius: var(--card-border-radius, 0.25rem);
    width: var(--card-width);
    height: var(--card-height);
    background-color: var(--card-surface);
    padding: 1rem;
    display: flex; /* Use flexbox to create a column layout */
    flex-direction: column; /* Set flex direction to column */
    height: 100%;
}

.card.emphasis {
    background-color: var(--md-sys-color-tertiary-container);
}


/* 

To use the card, copy this code snippet:

<div class="card">
    <div class="card-content">
        <h2 class="card-title">Title</h2>
        <p class="card-description">Description</p>
    </div>
</div>

*/