:root {
    --gradient-image-width: 18.75rem;
    --gradient-image-height: auto;
}

/* CSS for an img-like div */
.gradient-image-container {
    position: relative;
    height: var(--gradient-image-width); /* Set width to 100% of parent container */
    height: var(--gradient-image-height); /* Allow height to be determined by aspect ratio of image */
}

.gradient-image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--gradient-image-width);
    height: var(--gradient-image-height);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.71) 0%, rgba(0,0,0,0) 100%);
    z-index: 1;
}

.gradient-image-container img {
    width: var(--gradient-image-width); /* Ensure image fills the container */
    height: var(--gradient-image-height); /* Allow height to be determined by aspect ratio of image */
}