:root {
    --divider-height: 100vh;
}

.vertical-divider {
    width: 0.063rem;
    height: var(--divider-height);
    background-color: var(--md-sys-color-on-surface);
    flex-grow: 0; /* In case the divider is included in the row, we must not make it take the whole place */
}