.main-footer {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

.footer-content {
    justify-content: space-between;
    padding: 5rem 6rem;
}

.company-info {
    width: 20%;
}

.company-info > p {
    margin: 0.4rem 0;
}

.other-info > p {
    margin: 0.4rem 0;
}

.footer-logo {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    background-image: url("../../res/images/site_logo.jpg");
    background-size: cover;
    background-position: center;
}

.copyright-text {
    padding-bottom: 1rem;
}

@media (max-width: 1186px) {
    .footer-content {
        padding: 3rem 2rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
    }

    .company-info {
        width: 50%;
    }

    .other-info {
        width: 50%;
    }
    
    .footer-content a {
        margin-top: 4rem;
    }

    .footer-logo {
        height: 8rem;
        width: 8rem;
    }
}