:root {
    --navbar-logo-size: 3rem;
}


.sticky-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.3s ease-out;
    z-index: 99;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0 0 0.05rem rgba(0, 0, 0, 0.2));
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    height: 8vh;
    width: 100vw;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--md-sys-color-on-surface-rgb) / 0.02);
    width: 100%;
    height: 100%;
}

.navbar-start {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    height: var(--navbar-logo-size);
    width: var(--navbar-logo-size);
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--md-sys-color-on-surface);
    margin-right: 1rem;
}

.navbar-logo h3 {
    font-size: 1.3rem;
}

.navbar-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.navbar-end {
    position: relative;
    margin-right: 1rem;
}

.navbar-item {
    background-color: transparent;
    color: var(--md-sys-color-on-surface);
    font-weight: 700;
    font-size: 1.3rem;
}

.navbar-item:hover:not(.active) {
    color: var(--md-sys-color-on-primary);
    background-color: var(--md-sys-color-primary);
    border-radius: 5%;
}

.navbar-item.active {
    border-radius: 5%;
    border-bottom: 5px solid var(--md-sys-color-primary);
}

.navbar-navigation-icon {
    cursor: pointer;
}

.navbar-profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--md-sys-color-on-surface);
}

.navbar-profile-btn img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--md-sys-color-on-surface);
    margin-right: 0.5rem;
}

.navbar-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 12vw;
    background-color: var(--md-sys-color-surface);
    border-radius: 0.25rem;
    box-shadow: 0px 0.125rem 0.125rem rgba(0, 0, 0, 0.2);
    display: none;
}

.navbar-dropdown-item {
    margin: 0;
    padding: 0.8rem 1rem;
    color: var(--md-sys-color-on-surface);
    text-decoration: none;
    display: block;
}

.navbar-dropdown-item:last-child {
    border-bottom: none;
}

.navbar-dropdown-item-icon {
    margin-right: 0.65rem;
}

.navbar-dropdown-item:hover {
    transform: scale(1.04);
}

.navbar-profile-btn:hover {
    opacity: 0.8;
}

.navbar-profile-btn:focus+.navbar-dropdown,
.navbar-dropdown:hover {
    display: block;
}

#menu-button {
    cursor: pointer;
}

#menu-button:hover {
    transform: scale(1.1);
}

.drawer-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
}

.drawer {
    position: fixed;
    top: 0;
    right: -830px;
    width: 70vw;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 999;
}

.drawer.open {
    right: 0;
}

.drawer-logo {
    height: 9rem;
    width: 9rem;
    margin: 4rem auto !important;
}

.drawer-logo img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.drawer-menu > * {
    margin: 0 0.78rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 998;
}

.overlay.show {
    display: none;
}


@media (min-width: 600px) {
    .drawer {
        width: 40% !important;
    }
}

@media (max-width: 1186px) {
    .navbar-dropdown {
        width: 50vw;
    }

    .progress-bar {
        display: none;
    }

    .navbar-center .progress {
        display: initial !important;
    }

    .navbar-navigation-icon {
        display: initial !important;
    }

    .navbar-logo {
        display: none;
    }

    .navbar-logo h3 {
        display: none;
    }

    .navbar-profile-btn {
        display: none;
    }

    .navbar-item {
        display: none;
    }

    .navbar-menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: initial !important;
    }

    .drawer {
        display: initial !important;
    }

    .overlay.show {
        display: block !important;
    }
}


/* 

Usage guide:
<nav class="navbar">
    <div class="navbar-content">
        <div class="navbar-start">
            <a href="#" class="navbar-logo">
                <img src="../../res/images/site_logo.svg" alt="Logo">
            </a>
        </div>
        <div class="navbar-center">
            <!-- Center Items Here -->
        </div>
        <div class="navbar-end">
            <button class="navbar-profile-btn">
                <img src="../../res/images/person.png" alt="Profile">
                <span class="md-24 material-icons-outlined">arrow_drop_down</span>
            </button>
            <div class="navbar-dropdown">
                <div class="column-container">
                    <a href="#" class="navbar-dropdown-item">
                        <div class="row-container center-horizontal">
                            <span class="material-icons navbar-dropdown-item-icon">account_circle</span>
                            Profile
                        </div>
                    </a>
                    <a href="#" class="navbar-dropdown-item">
                        <div class="row-container center-horizontal">
                            <span class="material-icons navbar-dropdown-item-icon">auto_stories</span>
                            My Bookings
                        </div>
                    </a>
                    <a href="#" class="navbar-dropdown-item">
                        <div class="row-container center-horizontal">
                            <span class="material-icons navbar-dropdown-item-icon">local_activity</span>
                            Voucher
                        </div>
                    </a>
                    <a href="#" class="navbar-dropdown-item">
                        <div class="card" style="--card-width: auto">
                            <div class="card-content">
                                <div class="column-container center">
                                    <span class="text-center">Log Out</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>


*/